.users {
  // margin: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  form {
    input {
      width: 30rem;
      height: 2rem;
      margin: 1rem;
      font-size: 18px;
      padding-left: 1.5em;
      background-color: transparent;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    color: #777;
    // text-align: left;
    font-size: 1.1rem;
    thead {
      font-size: 1.5rem;
    }
    img {
      width: 60px;
      border-radius: 50%;
    }
    th {
      border-bottom: 1px solid #777;
      padding: 2rem 0px;
    }
    td {
      border-bottom: 1px solid #777;
      padding: 0.5rem 3rem;
    }
    .icon {
      font-size: 1.3rem;
      color: #777;
    }
  }
}
