.home {
  display: column;
  justify-content: center;
  place-items: center;
  width: 100%;
  .intro {
    display: flex;
    width: 70%;
    margin-left: 10%;
    .input {
      margin-top: 100px;
      display: column;
      width: 100%;
      h2 {
        color: rgb(95, 95, 95);
        font-size: 2.2rem;
        font-weight: normal;
      }
      h4 {
        color: rgb(95, 95, 95);
        margin: 50px;
      }
      .buttons {
        display: flex;
        place-items: center;
        margin: 4rem 5rem;
        .courses {
          width: 9rem;
          height: 2.5rem;
          margin-left: 1em;
          border-radius: 2rem;
          color: white;
          background-color: rgb(207, 207, 207);
        }
        .apply {
          width: 9rem;
          height: 2.5rem;
          margin-left: 1em;
          border-radius: 2rem;
          color: rgb(163, 162, 162);
          background-color: rgb(252, 251, 251);
          &:hover {
            background-color: rgb(207, 207, 207);
          }
        }
      }
      .graduates {
        display: flex;
        .brands {
          display: flex;
          justify-content: center;
          p {
            width: 50%;
            font-size: 2rem;
          }
          .icon {
            width: 40%;
            font-size: 2rem;
            margin: 20px;
          }
        }
      }
    }
    .card {
      width: 40%;
    }
  }
  .career {
    display: column;
    margin: 5rem;
    color: rgb(95, 95, 95);
    h2 {
      font-size: 2rem;
      font-weight: normal;
    }
    h5 {
      font-weight: normal;
    }
    .news {
      display: flex;
      justify-content: center;
      width: 100%;
      .good {
        width: 40%;
      }
      .great {
        width: 40%;
      }
    }
    .cards {
      display: flex;
      justify-content: center;
      width: 100%;
      .card {
        width: 20%;
        padding: 1.6em;
        margin: 0.7em;
        border-radius: 1rem;
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

        -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

        .icon {
          font-size: 3rem;
        }
        .title {
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
  .discover {
    display: column;
    width: 100%;
    .cards {
      display: flex;
      justify-content: center;
      .card {
        display: column;
        width: 20%;
        margin: 1rem;
        padding: 2em;
        border-radius: 2rem;
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

        -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
        &:hover {
          -webkit-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.05),
            inset -15px -15px 20px #fff;

          -moz-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.05),
            inset -15px -15px 20px #fff;

          box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.05),
            inset -15px -15px 20px #fff;
        }
        .tralala {
          opacity: 0;
        }
        .language {
          display: flex;
          justify-content: center;
          button {
            width: 5rem;
            width: 5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            margin: .3rem;
            -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

            -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
    
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
    
          }
        }
        button {
            width: 9rem;
            height: 2.5rem;
            margin-left: 1em;
            border-radius: 2rem;
            color: rgb(163, 162, 162);
            background-color: rgb(252, 251, 251);
            margin-bottom: 1rem;
            &:hover {
              background-color: rgb(207, 207, 207);
          }
        }
  a{
    color: rgb(163, 162, 162);
    &:hover {
      color: white;
    }
  }
      }
    }
  }
}
