.courses {
  box-sizing: border-box;
  width: 100%;
  display: column;
  align-items: center;
  text-align: center;
  color: rgb(95, 95, 95);

  .title {
    font-size: 1.2rem;
  }
  .course {
    display: flex;
    justify-content: center;
    .cards {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .card {
        width: 10rem;
        height: 11rem;
        margin: 1rem;
        padding: 2rem 0.5rem;
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

        -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
        &:hover {
          -webkit-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.05),
            inset -15px -15px 20px #fff;

          -moz-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.05),
            inset -15px -15px 20px #fff;

          box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.05),
            inset -15px -15px 20px #fff;
        }
        .title{
            color: rgb(65, 64, 64);
            font-weight: bold;
            padding: 1rem;
        }
        .description{
            text-align:start;
        }
      }
    }
  }
}
